@model IQueryable<nhibernate_demo.Models.Grain>

@{
    ViewBag.Title = "Grains";
}

<h2>Grains</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        
        <th>
            Name
        </th>
        <th>
            Features
        </th>
        <th>
            Farmer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @item.Name
        </td>
        <td>
            <ul>
            @foreach (var feature in item.Features)
            {
                <li>@feature.Name</li>    
            }
            </ul>
        </td>
        <td>
            @if (item.Farmer != null)
            {
                @item.Farmer.Name
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

